# ========================================================
# ACADEMINA - GLOBAL ENVIRONMENT VARIABLES 
# ========================================================

# -> INFRASTRUCTURE (Used by Docker Compose)
DB_USER=academina_user
DB_PASSWORD=academina_pass_123
DB_NAME=academina_lms
BACKEND_PORT=3001
FRONTEND_PORT=3000

# -> BACKEND SECRETS (NestJS / Prisma)
# Replace these with real secure keys in production
DATABASE_URL=postgresql://academina_user:academina_pass_123@localhost:5432/academina_lms?schema=public
JWT_SECRET=super_secret_academina_fallback_382942

# -> REDIS QUEUE
REDIS_HOST=localhost
REDIS_PORT=6379

# -> EXTERNAL PROVIDERS (Fase 5)
BUNNY_LIBRARY_ID=your_bunny_library_id
BUNNY_API_KEY=your_bunny_api_key
BUNNY_TOKEN_SECURITY_KEY=your_bunny_token_secret

# -> FRONTEND VARIABLES (Next.js)
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_SAAS_DOMAIN=academina.cl
